body {
    background: #e0aced;
    color: #b6199e;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 50px;

  }
  
  code {
    color: hsl(346, 86%, 32%);
    background: #460f35;
    padding: 2px 10px;
    border-radius: 10px;
  }
  
  a {
    color: #0079c0;
  }
  a:hover {
    color: #07acee;
  }
  